@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

.App {
  text-align: center;
  font-family: "DM Sans";
}

a{
  text-decoration: none;
  color: rgb(70, 70, 240);
}

h1{
  font-size: 50px;
}

h2{
  text-align: center;
  font-size: 35px;
}



/*Estilos gerais*/


/*Estilos para a div princiapal*/
/*Telas menores*/
.div-container{
  color: rgb(70, 70, 240);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

.div-container p{
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: #0a0a0a8c;
}

.div-container ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 100%;
  height: auto;
  background-color: violet;
}

.div-container ul li{
  list-style: none;
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

/*div-container telas maiores*/
@media (min-width: 1024px) {
    .div-container{
      width: 100%;
      margin: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      flex: 1;
      box-sizing: border-box;
    }

    .div-container p {
      text-align: center;
      width: 80rem;
      font-size: 25px;
      color: #0a0a0a8c;
    }

    .div-container h2{
      font-size: 3rem;
    }

    .div-container ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      height: auto;
      width: 40%;
    }

    .div-container ul li{
      list-style: none;
      padding: 10px;
      margin: 20px;
      width: 16rem;
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
    }
}

/*Estilos para os cards de categorias*/
/*Telas menores*/
.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.137);
  border: 3px solid rgb(70, 70, 240);
  transition: 0.5s ease;
}

.card-container a{
  text-decoration: none;
  color: rgb(70, 70, 240);
}

/*Telas maiores*/
@media (min-width: 1024px) {
  .card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.137);
    border: 5px solid rgb(70, 70, 240);
    transition: 0.5s ease;
  }

  .card-container:hover {
    
  }

  .card-container a{
    text-decoration: none;
    color: rgb(70, 70, 240);
  }
}

/*Estilos para a sessão que exibe as perguntas*/
.sectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45rem;
  margin: auto;
  
}

@media (min-width: 1024px) {
  .section-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 45rem;
    margin: auto;
  }

  .section-container ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(207, 202, 207, 0.308);
    border-radius: 10px;
    padding: 30px; 
    width: 50%;
    margin-bottom: 8rem;
  }

  .section-container ul p{
    font-size: 25px;
    font-weight: bold;
  }

  .section-container ul li{
    padding: 5px;
    margin: 10px;
    width: 100%;
    text-align: center;
    list-style: none;
    font-size: 22px;
    background-color: rgba(94, 93, 93, 0.123);
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .section-container ul li:hover {
    background-color: #007bff;
    color: white;
  }
}

  .section-finaly-container{
    
  }

  @media (min-width: 1024px) {
    .section-finaly-container{
      background-color: rgba(128, 128, 128, 0.178);
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 10rem;
    }

    .section-finaly-container p{
      text-align: center;
      font-size: 25px;
    }

    .section-finaly-container section{
      width: 30%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

  }
/*Estilos para o ícone dentro do card de categorias*/
.img-icon{
  width: 90rem;
  height: 60px;
  transition: 0.5s ease;
  color: blue
}
@media (min-width: 1024px) {
  .img-icon{
    width: 60px;
    height: 60px;
    transition: 0.5s ease;
    color: blue;
  }

  .img-icon:hover {
    animation: rotate 1.5s alternate;
  }
}


.btn-primary{
  background-color: #007bff; 
  color: white;               
  padding: 10px 20px;         
  font-size: 16px;     
  border: none;               
  border-radius: 5px;        
  cursor: pointer;            
  transition: background-color 0.3s ease;
}

.btn-primary:hover{
  background-color: #0056b3;
}

.btn-secondary{
  background-color: white;
  color: #6c757d;             
  padding: 10px 20px;    
  font-size: 16px;            
  border: 2px solid #6c757d; 
  border-radius: 5px;         
  cursor: pointer;           
  transition: background-color 0.3s ease, color 0.3s ease; 
  
}

.btn-secondary:hover {
  background-color: #6c757d;  /* Fundo cinza ao passar o mouse */
  color: white; 
}

.btn-light{
  background-color: #f8f9fa;  
  color: #212529;           
  padding: 10px 20px;        
  font-size: 16px;            
  border: 2px solid #ced4da;  
  border-radius: 5px;       
  cursor: pointer;            
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-light:hover{
  background-color: #e2e6ea;  /* Fundo cinza claro ao passar o mouse */
  color: #212529; 
}

.header-content{
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  bottom: 0;
  left: 0;
}

/*Animações*/
/*Animação de pulsar*/
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Animação de rotação */
  @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}